// Fonts


// Variables
@import 'variables';


@import '~reset-css/sass/reset';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'buttons';
@import 'icons';
@import 'table';

// Components
@import 'components/sidebar';
@import 'components/bottombar';
@import 'components/map';
@import 'components/tooltip';
@import 'components/form';



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media all and (display-mode: 'minimal-ui') {
  body {
    background-color: #fff;
  }
}

body {
  font-size: 10px;
  color: $darkblue;

  .material-icons {
    font-family: "Material Icons"!important
  }

  .onesignal-customlink-subscribe.button {
    border-radius: 18px;
    box-shadow: none;
    text-transform: inherit;
    font-family: inherit;
    font-weight: 400;
    font-size: 0.75rem!important;
    &:hover {
      box-shadow: none;
    }
  }

  .checklabel {
    small {
      display: inline-flex!important;
    }
  }

  .full-height {
    height: 100vh;
  }

  .content {

    padding-right: 280px;
    color: $darkblue;
    font-size: 16px;

    @media only screen and (max-width: 600px) {
      padding-top: 20px;
      padding-bottom: 40px;
      padding-right: 0;
    }
  }

  footer {
    padding-top: 20px;
    a {
      font-size: 12px;
      display: inline-block;
    }

    .sponsors {
      text-align: center;
      small {
        font-size: 13px;
        padding: 5px;
        display: block;
      }
      position: relative;
      bottom: 20px;
    }
  }

  .list {
    list-style: circle;
    margin-left: 1rem;
  }

  .row-reverse {
    flex-flow: wrap-reverse;
  }

  .grecaptcha-badge {
    @media only screen and (max-width: 600px) {
      bottom: 0px!important;
      height: 40px!important;
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 1;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: #0cca4c;
      padding: 10px;
      color: #16542b;
    }
  }

  .btn-showmap {
    background: $yellow;
    transition: background .25s ease-in;

    @media only screen and (max-width: 600px) {

    }

    &:hover {
      color: $darkblue;
      background: $white;
    }
  }

  .v-tour {
    // height: 100%;
    // position: absolute;
    // width: 100%;
    // background: rgba(255,255,255,0.5);
    //z-index: 20000;
  }
  .v-tour__target--highlighted {
    box-shadow: 0 0 0 4px rgb(56, 193, 114)!important;
  }
}
