.sidebar {
  height: 100%;
  background: $ice;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 280px;
  -webkit-box-shadow: -1px 9px 12px -8px rgba(133,133,133,1);
  -moz-box-shadow: -1px 9px 12px -8px rgba(133,133,133,1);
  box-shadow: -1px 9px 12px -8px rgba(133,133,133,1);
  padding: 0 15px;

  @media only screen and (max-width: 600px) {
    width: 80px;
  }


  &-active {

    .map {
      right: 660px;
      @media only screen and (max-width: 600px) {
        right: 0;
      }
    }
  }

  &-logo {

    a {
      display: block;
      img {
        width: 80px;
        max-width: 100%;
        padding-top: 20px;
      }
    }
  }
  &-volunteers {
    &-count {
      font-size: 2.2rem;
      padding-top: 20px;
      line-height: 30px;
      span {
        color: #465b63;
      }
      small {
        color: #949494;
        font-size: .8rem;
        display: block;
      }
    }
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 1.8em;
    cursor: pointer;
    padding: 10px;
    z-index: 3;
  }

  &--secondary {
    transition: right .2s linear;
    background: lighten($ice, 5%);
    position: fixed;
    z-index: 1;
    top: 0;
    right: -380px;
    width: 380px;
    height: 100%;
    overflow-y: scroll;
    -webkit-box-shadow: -1px 9px 12px -8px rgba(133,133,133,1);
    -moz-box-shadow: -1px 9px 12px -8px rgba(133,133,133,1);
    box-shadow: -1px 9px 12px -8px rgba(133,133,133,1);

    .check_truth {
      small {
        font-size: 13px!important;
        line-height: 18px;
      }
    }

    h3 {
      font-size: 20px
    }

    h4 {
      font-size: 18px
    }

    &.active {
      right: 280px;
    }

    &__body {
      padding-top: 20px;
    }
  }
  &--third {
    transition: right .2s linear;
    background: lighten($ice, 5%);
    position: fixed;
    z-index: 1;
    top: 0;
    right: -380px;
    width: 380px;
    height: 100%;
    overflow-y: scroll;
    -webkit-box-shadow: -1px 9px 12px -8px rgba(133,133,133,1);
    -moz-box-shadow: -1px 9px 12px -8px rgba(133,133,133,1);
    box-shadow: -1px 9px 12px -8px rgba(133,133,133,1);

    .check_truth {
      small {
        font-size: 13px!important;
        line-height: 18px;
      }
    }

    h3 {
      font-size: 20px
    }

    h4 {
      font-size: 18px
    }

    &.active {
      right: 280px;
    }

    &__body {
      padding-top: 20px;
    }
  }

  &--actions {
    .btn {
      margin-bottom: 10px;
      line-height: 18px;
    }

    .btn-showmap {
      background: $yellow;
      transition: background .25s ease-in;

      @media only screen and (max-width: 600px) {

      }

      &:hover {
        color: $darkblue;
        background: $white;
      }
    }
  }
}
