.single
  padding-top: 60px
  &-info
    &__title
      font-size: 2rem
      letter-spacing: -1px
      color: #3f3e3e
      @media only screen and (max-width: 600px)
        font-size: 1.5rem
    &__type
      font-size: 1.4rem
      letter-spacing: -1px
      color: #a5a5a5
      @media only screen and (max-width: 600px)
        font-size: 1rem
    &__location
      margin-bottom: 10px
      font-size: 1rem
      letter-spacing: -1px
      @media only screen and (max-width: 600px)
        font-size: .8rem
  &-bg
    &-farmer
